<nav>
  <ul>
    <li><a href="{{ "/" | relative_url }}">Accueil</a></li>
    <li><a href="{{ "/about" | relative_url }}">À propos</a></li>
    <li>
      <span>Semestres ▾</span>
      <ul>
        <li><a href="{{ "/docs/Semestre%201" | relative_url }}">Semestre 1</a></li>
        <li><a href="{{ "/docs/Semestre%202" | relative_url }}">Semestre 2</a></li>
        <li><a href="{{ "/docs/Semestre%203" | relative_url }}">Semestre 3</a></li>
        <li><a href="{{ "/docs/Semestre%204" | relative_url }}">Semestre 4</a></li>
        <li><a href="{{ "/docs/Semestre%205" | relative_url }}">Semestre 5</a></li>
      </ul>
    </li>
  </ul>
</nav>
